@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  /* padding: 0px; */
}

.container {
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
}

header {
  background-color: rosybrown;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

footer {
  background-color: rosybrown;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

footer p {
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer div:nth-child(2) {
  position: relative;
  top: 30%;
}

.logo {
  height: 60px;
  width: 60px;
}

.footer_image {
  height: 20px;
  width: 22px;
}

main {
  padding-top: 60px;
  padding-bottom: 50px;
}

.blank_forms {
  height: 100vh;
}
