.searchbar {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.searchbar input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  width: 350px;
  position: relative;
  top: 25%;
  left: 25%;
  font-size: 16px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}

.city_cards {
  margin-left: 15%;
  margin-right: 15%;
}

.city_image {
  height: 150px;
  width: 150px;
  padding: 4%;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

.view_more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.view_more a {
  text-decoration: none;
  color: black;
}
